@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
}

/* Add this to your global CSS file */
.quote-block::before,
.quote-block::after {
  content: '“';
  font-size: 6rem;
  color: #9ca3af; /* Tailwind gray-200 */
  position: absolute;
  font-family: serif;
  line-height: 1;
  opacity: 0.4;
}

.quote-block::after {
  content: '”';
}

.quote-block::before {
  top: -20px;
  left: -10px;
}

.quote-block::after {
  bottom: -20px;
  right: -10px;
}

@media (max-width: 768px) {
  .quote-block::before {
    top: -10px;
    left: 0;
    font-size: 4rem;
  }

  .quote-block::after {
    bottom: -10px;
    right: 0;
    font-size: 4rem;
  }
}
