@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), sans-serif;
}


.quote-block::before,
.quote-block::after {
  content: '“';
  font-size: 6rem;
  color: #9ca3af; /* Tailwind gray-200 */
  position: absolute;
  font-family: serif;
  line-height: 1;
  opacity: 0.4;
}

.quote-block::after {
  content: '”';
}

.quote-block::before {
  top: -20px;
  left: -20px;
}

.quote-block::after {
  bottom: -20px;
  right: -10px;
}

@media (max-width: 768px) {
  .quote-block::before {
    top: -10px;
    left: 0;
    font-size: 4rem;
  }

  .quote-block::after {
    bottom: -10px;
    right: 0;
    font-size: 4rem;
  }
}

/* Custom styles for the news carousel */
.featured-news-slider .slick-dots {
  bottom: -50px;
}

.featured-news-slider .slick-dots li button:before {
  font-size: 12px;
  color: #1e3a8a; /* blue-900 */
}

.featured-news-slider .slick-dots li.slick-active button:before {
  color: #1e3a8a; /* blue-900 */
  opacity: 1;
}

.featured-news-slider .slick-slide > div {
  margin: 0 8px;
}

.featured-news-slider .slick-list {
  margin: 0 -8px;
}
